body {
    background-color: #ffffff;
    background-size: cover;
    font-family: 'Trebuchet MS';

}

.linea-titulo {
    background: rgb(32, 196, 202);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.titulo {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 27px;
    left: 145px;
    top: 25%;

}

.contenido {
    display: flex;
    justify-content: center;
    margin: 26px;
    margin-left: 35%;
}

.logo-banner {
    position: absolute;
    width: 90px;
    height: 70px;
    left: 35px;
    top: 0%;
}

.boton-banner {
    display: flex;

}


.barra-busqueda {
    display: flex;
    justify-content: right;
    margin-right: 10%;
    margin-left: 5%;
    align-items: center;
    outline: none;
}

.login {
    display: flex;
    justify-content: right;


}

a {
    text-decoration: none;
    color: inherit;
}


button {
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0s;
    text-decoration: none;

}

button:hover {
    color: rgb(250, 250, 250);
}

.colocar{
    display: grid;
}






footer {
    margin-top: 5%;
    background-color: rgb(32, 196, 202);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;


}